@import "./base.css";

#app {
  font-weight: normal;
  min-height: 100%;
  height: 100%;
}

.btn {
  min-width: 125px;
  padding: .5rem 1rem;
  height: 54px;
  border: 1px solid var(--button-color);
  border-radius: 50px !important;
  background-color: var(--button-color);
  color: #ffff;
  line-height: 15px;
  text-align: center;
  margin-bottom: .75rem;

  font-size: 16px;
  font-family: 'Roboto-500';
}

.btn-edit{
  width: 69px;
  height: 24px;
  background: #76CECB;
  border-radius: 7px;
  border: none;

  font-family: 'Roboto-400';
  font-style: normal;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  margin-right: 10px;
}

.btn-delete{
  width: 69px;
  height: 24px;
  background: #CE7679;
  border-radius: 7px;
  border: none;

  font-family: 'Roboto-400';
  font-style: normal;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
}

/* .btn:hover {
  background-color: #ffff;
  color: var(--button-color);
} */

.btn-outline {
  background-color: #ffff;
  color: var(--button-color);
}

.btn-outline:hover {
  background-color: var(--button-color);
  color: #ffff;
}

.w-100 {
  width: 100%;
}

.m-0{
  margin: 0;
}

/* .form-control [type="submit"] {
  margin-top: 1rem;
} */

.no-found{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  white-space: nowrap;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

.form-control input:not([type="submit"], [type="file"]), .form-control select {
  padding: 12px 10px;
  border-radius: 8px;
  font-size: 15px;
  color: #667085;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
}

.form-group input:focus {
  outline: none;
  border: 1px solid #76CECB !important;
  box-shadow: 0px 1px 2px rgba(14, 176, 146, 0.05), 0px 0px 0px 4px #EBFFFB;
  color: #101828;
}

.form-group label {
  color: #4D4D4D;
  margin-bottom: .25rem;
  font-weight: 500;
}

.form-group [role="alert"] {
  position: static;
  font-size: 14px;
  font-family: 'Inter';
  align-self: flex-start;
  padding-top: 6px;
  font-weight: 400;
  color: #F04438;
}

.auth-title {
  text-align: center;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #4D4D4D;
}

.p-autocomplete .p-autocomplete-input-token input {
  padding: 12px 10px !important;
  border: 1px solid #D0D5DD !important;
}
.p-autocomplete input, .p-autocomplete .p-autocomplete-multiple-container {
  width: 100%;
  border: none;
}

.p-autocomplete-multiple-container {
  padding: 0 !important;
  border-radius: 8px !important;
}
.p-autocomplete-input-token {
  padding: 0 !important;
}

.p-autocomplete {
    align-items: end;
}

.p-button {
    height: 2.7rem;
    background-color: #76CECB !important;
    border: 1px solid #76CECB !important;
}

.p-button span {
  color: #fff;
}

.p-autocomplete-multiple-container {
    flex: 1;
}

.p-autocomplete-panel {
  width: calc(100% - 90px);
}

.p-autocomplete-item {
  text-overflow: ellipsis;
}

.text-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}